<% layout('layouts/boilerplate') -%>
<link rel="stylesheet" href="/stylesheet/stars.css">
<link rel="stylesheet" href="/stylesheet/show.css">
    <h1 class="text-center m-3 mb-1">Campground Details</h1>
    <div class="campground">
        <div class="campground-detail">
            <div class="campground-card">
                <div id="campgroundCarousal" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <% campground.images.forEach((img,i) => { %>
                      <div class="carousel-item <%= i===0 ? 'active' : '' %>">
                        <img src="<%= img.url %>" class="campground-img" alt="">
                      </div>
                    <% })  %>
                    </div>
                    <% if(campground.images.length > 1){ %>
                        <a class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousal" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" type="button" data-bs-target="#campgroundCarousal" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </a>
                    <% } %>
                  </div>
                <div class="card-body">
                    <h2><%= campground.title %></h2>
                    <p><%= campground.description %></p>
                </div>
                <% if(currentUser) {%>
                    <div class="campground-card-btn">
                        <%if (currentUser && currentUser._id.equals(campground.author._id)) { %>
                            <a href="/campgrounds/<%= campground._id %>/edit" class="campground-edit-btn btn btn-primary">Edit</a>
                            <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="d-inline">
                                <a type="submit" class="campground-delete-btn btn btn-danger">Delete</a>
                            </form>
                        <% } %>
                    </div>
                <% } %>
            </div>
            <div class="map">
                <div id='map'></div>
                <ul class="campground-list list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= campground.location %></li>
                    <li class="list-group-item">Campground by <%= campground.author.username %></li>
                    <li class="list-group-item"><%= campground.price %></li>
                </ul>
            </div>
        </div>
        <div class="campground-review">
            <div class="campground-review-card">
                <h2 class="text-center mb-3">Reviews</h2>
                    <div class="campground-user-review-card row">
                        <% for(let review of campground.reviews) { %>
                            <div class="col-4">
                                <div class="campground-review-card-box card">
                                    <div class="review-card-body card-body">
                                        <p class="starability-result" data-rating="<%= review.rating %>">
                                            Rated: <%= review.rating %> stars
                                        </p>
                                        <h6 class="card-subtitle mb-2 text-muted"><%= review.author.username %></h6>
                                        <p class="card-text">Review : <%= review.body %></p>
                                        <% if(currentUser && currentUser._id.equals(review.author._id)) { %>
                                            <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                                                <button class="review-delete-btn btn btn-danger">Delete</button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <% if(currentUser) {%>
                        <a href="/campgrounds/<%= campground._id %>/reviews/new" class="review-btn btn btn-warning">Add Review</a>
                    <% } %>
            </div>
        </div>
    </div>
    <script>
        const campground = <%- JSON.stringify(campground) %>
    </script>
    <script src="/javascript/ShowPageMap.js"></script>